
#home{
    font-size: 40px;
    color: white; 
 
}
    
*{
    color: white;
}
#home0{
    text-align: right;
    
    
    

}
.li{
    color: white;
}
a{
    text-decoration: none;
}

#res{
    color: black;
}